@font-face {
    font-family: 'Archangelsk';
    src: url('./fonts/Archangelsk\ font.ttf') format('truetype');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.blue {
    color: #0099ff;
    font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
}


.header__main {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

.header__ikons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.welcome {
    background-image: url(./img/mainback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: -100px;
    box-sizing: border-box;
}

.welcome__border {
    background-color: #F8F200;
    width: 625px;
    height: 370px;

    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__title {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;

    margin-bottom: 45px;
}

.btn__black {
    font-family: Roboto, sans-serif;
    color: #F8F200;
    background-color: #000000;
    font-weight: 700;
    font-size: 24px;

    padding: 20px 50px 20px 50px;
}

.welcome .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100.6vh;
}


.info__subtittle {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;

    margin-top: 70px;
}

.info__title {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    opacity: 0.5;
    margin: 25px 0 70px 0;

    max-width: 950px;
}

.info__img {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.info__img-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.black__noise {
    background-image: url(./img/noise1.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 10vh;

    margin-top: 70px;
}

.play {
    background-color: #000000;
    color: #ffffff;
}

.play__main-right {
    background-image: url(./img/playback.png);
    width: 790px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

    padding: 25px;

    display: flex;
    justify-content: flex-end;
    gap: 32px;
}



.play__subtittle {
    display: flex;
    align-items: end;
    gap: 32px;
}

.play__subtittle-text {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;
}

.play__tittle {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    max-width: 950px;
    margin: 25px 0 25px 0;
}

.play__main {
    display: flex;
}

.play__main-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}