@font-face {
    font-family: 'Archangelsk';
    src: url('./fonts/Archangelsk\ font.ttf') format('truetype');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.blue {
    color: #52BEDC;
    font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
}


.header__main {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

.header__ikons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.welcome {
    background-image: url(./img/mainback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: -100px;
    box-sizing: border-box;
}

.welcome__border {
    background-color: #F8F200;
    width: 625px;
    height: 370px;

    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__subtitle {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;

    margin-bottom: 45px;
}

.btn__black {
    font-family: Roboto, sans-serif;
    color: #F8F200;
    background-color: #000000;
    font-weight: 700;
    font-size: 24px;

    padding: 20px 50px;
}

.welcome .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100.6vh;
}


.info__subtittle {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;

    margin-top: 70px;
}

.info__title {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    opacity: 0.5;
    margin: 25px 0 70px 0;

    max-width: 950px;
}

.info__img {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.info__img-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.black__noise {
    background-image: url(./img/noise1.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 10vh;

    margin-top: 70px;
}

.play {
    background-color: #000000;
    color: #ffffff;
}

.play__main-right {
    background-image: url(./img/playback.png);
    width: 790px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

    padding: 25px;

    display: flex;
    justify-content: flex-end;
    gap: 32px;
}



.play__subtittle {
    display: flex;
    align-items: end;
    gap: 32px;
}

.play__subtittle-text {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    font-size: 62px;
}

.play__tittle {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    max-width: 1000px;
    margin: 25px 0 25px 0;
}

.play__main {
    display: flex;
    padding-bottom: 70px;
}

.play__main-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.play__input-name,
.play__input-email {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #888;
    padding: 8px 0;
    font-size: 18px;

    color: #ffffff;
}

.play__input-name:focus,
.play__input-email:focus {
    outline: none;
    border-bottom: 1px solid #00aeff;
}

.play__input-file {
    border: 1px dashed #888;
    padding: 40px;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
}

.btn__yellow {
    font-family: Roboto, sans-serif;
    color: #000000;
    background-color: #F8F200;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    width: 25%;

    padding: 20px 50px;
}

.play__agree {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;

    margin-top: -20px;
    margin-left: -5px;

    color: #888;

    display: flex;
    align-items: center;
    gap: 4px;
}

.yellow__noise {
    background-image: url(./img/noise2.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 10vh;
}

.hpcollab {
    background-color: #F8F200;
}

.btn__black--small {
    font-size: 18px;
    width: 130px;
    text-align: center;
}

.hpcollab__main {
    display: flex;
    justify-content: space-between;
    gap: 52px;

    padding: 70px 0;
}

.hpcyberpunk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 25px;
}

.hpcollab__main-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hpcollab__subtittle {
    font-family: Archangelsk, sans-serif;
    font-weight: 400;
    font-size: 62px;
}

.hpcollab__tittle {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 34px;
}

.hpcollab__spec {
    display: flex;
    align-items: center;
}

.hpcollab__spec::before {
    width: 32px;
    height: 32px;
}

.hpcollab__spec-icon1::before {
    content: url(./img/ikons/y1.png);
    margin-right: 10px;
}

.hpcollab__spec-icon2::before {
    content: url(./img/ikons/y2.png);
    margin-right: 10px;
}

.hpcollab__spec-icon3::before {
    content: url(./img/ikons/y3.png);
    margin-right: 10px;
}

.hpcollab__specification {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-family: Roboto, sans-serif;
    font-size: 18px;

    margin-bottom: 15px;
}

.buygame__main-left img {
    visibility: hidden;
}


.buygame {
    background-image: url(./img/lastback.jpg);
    background-repeat: no-repeat;
    min-height: 76vh;

    background-color: #000000;
    color: #ffffff;
}

.buygame__main {
    display: flex;
    justify-content: space-between;
    gap: 52px;

    padding-top: 70px;
}

.buygame__subtittle {
    font-family: Archangelsk, sans-serif;
    font-weight: 400;
    font-size: 62px;
}

.blue__text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;

    color: #52BEDC;
    margin-bottom: -15px;
    margin-top: 25px;
}

.buygame__icons {
    display: flex;
    align-items: center;
    gap: 80px;

    margin-top: 50px;
}

.buygame__specification {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-family: Roboto, sans-serif;
    font-size: 18px;

    margin-bottom: 55px;
}

.buygame__spec {
    display: flex;
    align-items: center;
}


.buygame__spec-icon1::before {
    content: url(./img/ikons/b1.png);
    margin-right: 10px;
}

.buygame__spec-icon2::before {
    content: url(./img/ikons/b2.png);
    margin-right: 10px;
}

.buygame__spec-icon3::before {
    content: url(./img/ikons/b3.png);
    margin-right: 10px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.footer__main-img {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer__main-link {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer__main-link a {
    color: #000000;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.under__footer {
    background-color: #000000;
    color: #ffffff;
    padding: 13px 0;

    text-align: center;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
}